:root {
  --tc: rgb(32, 32, 32);
  --tc-hover: rgb(202, 202, 202);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
.header a {
  text-decoration: none;
  font-family: Arial;
}
.header #logo {
  font-size: 24px;
  padding: 20px 0;
  color: var(--tc);
}
.header nav {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav a {
  height: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  transition: background 0.3s ease-in-out;
  color: var(--tc);
}
.header nav a:hover {
  background: var(--tc-hover);
}

#post-create {
  margin-top: 20px;
}
#post-create form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#post-create form label {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  font-weight: 600;
}
#post-create form label input[type=text] {
  padding: 10px;
}
#post-create form label textarea {
  padding: 10px;
}

.notes__item {
  border: 1px solid #000;
  padding: 10px;
  margin: 5px 0;
}
.notes__item nav {
  display: flex;
}
.notes__item nav a {
  font-family: Arial;
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;
  color: white;
  background: rgb(66, 66, 185);
}
.notes__item nav form button {
  cursor: pointer;
  padding: 7px;
  border: none;
  color: white;
  background: rgb(177, 50, 50);
}